@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


:root {
  --primary-white: #fff;
  --primary-dark: #171717;
  --primary-light: #f8f9fa;
}

body {
  font-family: 'Oswald', sans-serif;
}

/****** Nevabar **************/

.logo {
  width: 6rem;
  height: 6rem;
  clip: rect(0px,60px,200px,0px);
}

/*----------Mnue Links --------*/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  /* color: var(--primary-white) !important; */
  /* making a bar on top of each link name so that it doesn't look like the animation is just jumping around */
  /* has to do with .navbar-nav > li > a.active, .navbar-nav > li > a:focus  */
  border-top: 0.1875rem solid var(--primary-light); 
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rme !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-dark);
}

/* Making the bar appear as we hover over the link names */
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-dark);
}